<!-- Wappler include head-page="layouts/index" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{},dmxStripe:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/index.css" rel="stylesheet" />

<meta content="/index" name="ac:route">
<div id="browser" is="dmx-browser"></div>
<dmx-cookie-manager id="cookies"></dmx-cookie-manager>
<dmx-notifications id="notify"></dmx-notifications>
<div id="index" class="_11_55119 d-flex" fid="11:55119">
<div id="Dropdown_header_navigation" class="_11_55120 d-flex _11_55120" fid="11:55120" layout="VERTICAL/None/FILL/HUG">
<div id="Header" class="_I11_55120-1288_30712 d-flex" fid="I11:55120;1288:30712" layout="None/VERTICAL/FIXED/FIXED">
<div id="Container" class="_I11_55120-1288_30713 d-flex" fid="I11:55120;1288:30713" layout="VERTICAL/HORIZONTAL/FIXED/HUG">
<div id="Content" class="_I11_55120-1288_30714 d-flex" fid="I11:55120;1288:30714" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<div id="_I11_55120-1288_30715" class="_I11_55120-1288_30715" fid="I11:55120;1288:30715" figma-name="Logo" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<div id="_I11_55120-1288_30715-2924_375962" class="_I11_55120-1288_30715-2924_375962" fid="I11:55120;1288:30715;2924:375962" figma-name="Logo_wrap" layout="HORIZONTAL/None/FIXED/FIXED">
<div id="_I11_55120-1288_30715-1083_50705" class="_I11_55120-1288_30715-1083_50705" fid="I11:55120;1288:30715;1083:50705" figma-name="Logomark" layout="None/HORIZONTAL/HUG/HUG">
<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_dd_0_334)">
<g clip-path="url(#clip0_0_334)">
<rect x="3" y="2" width="32" height="32" rx="8" fill="white" />
<rect x="3" y="2" width="32" height="32" rx="8" fill="url(#paint0_linear_0_334)" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M19 4.03885C11.2895 4.03885 5.03885 10.2895 5.03885 18C5.03885 25.7106 11.2895 31.9612 19 31.9612C26.7106 31.9612 32.9612 25.7106 32.9612 18C32.9612 10.2895 26.7106 4.03885 19 4.03885ZM4.96118 18C4.96118 10.2466 11.2466 3.96118 19 3.96118C26.7535 3.96118 33.0389 10.2466 33.0389 18C33.0389 25.7535 26.7535 32.0389 19 32.0389C11.2466 32.0389 4.96118 25.7535 4.96118 18Z" fill="#D0D5DD" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M19 14.0779C16.8338 14.0779 15.0777 15.834 15.0777 18.0002C15.0777 20.1665 16.8338 21.9226 19 21.9226C21.1662 21.9226 22.9223 20.1665 22.9223 18.0002C22.9223 15.834 21.1662 14.0779 19 14.0779ZM15 18.0002C15 15.7911 16.7909 14.0002 19 14.0002C21.2091 14.0002 23 15.7911 23 18.0002C23 20.2094 21.2091 22.0002 19 22.0002C16.7909 22.0002 15 20.2094 15 18.0002Z" fill="#D0D5DD" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M19 15.3201C17.52 15.3201 16.3203 16.5198 16.3203 17.9997C16.3203 19.4796 17.52 20.6793 19 20.6793C20.4799 20.6793 21.6796 19.4796 21.6796 17.9997C21.6796 16.5198 20.4799 15.3201 19 15.3201ZM16.2427 17.9997C16.2427 16.4769 17.4772 15.2424 19 15.2424C20.5228 15.2424 21.7572 16.4769 21.7572 17.9997C21.7572 19.5225 20.5228 20.757 19 20.757C17.4772 20.757 16.2427 19.5225 16.2427 17.9997Z" fill="#D0D5DD" />
<path d="M18.9612 2H19.0389V34H18.9612V2Z" fill="#D0D5DD" />
<path d="M35 17.9609L35 18.0386L3 18.0386L3 17.9609L35 17.9609Z" fill="#D0D5DD" />
<path d="M29.6019 2H29.6796V34H29.6019V2Z" fill="#D0D5DD" />
<path d="M13.6407 2H13.7184V34H13.6407V2Z" fill="#D0D5DD" />
<path d="M24.2815 2H24.3592V34H24.2815V2Z" fill="#D0D5DD" />
<path d="M8.32031 2H8.39798V34H8.32031V2Z" fill="#D0D5DD" />
<path d="M35 28.6016L35 28.6792L3 28.6792L3 28.6016L35 28.6016Z" fill="#D0D5DD" />
<path d="M35 12.6406L35 12.7183L3 12.7183L3 12.6406L35 12.6406Z" fill="#D0D5DD" />
<path d="M35 23.2812L35 23.3589L3 23.3589L3 23.2812L35 23.2812Z" fill="#D0D5DD" />
<path d="M35 7.32031L35 7.39798L3 7.39798L3 7.32031L35 7.32031Z" fill="#D0D5DD" />
<g filter="url(#filter1_dd_0_334)">
<circle cx="19" cy="18" r="8" fill="url(#paint1_linear_0_334)" />
</g>
<g filter="url(#filter2_b_0_334)">
<path d="M3 18H35V21.2C35 25.6804 35 27.9206 34.1281 29.6319C33.3611 31.1372 32.1372 32.3611 30.6319 33.1281C28.9206 34 26.6804 34 22.2 34H15.8C11.3196 34 9.07937 34 7.36808 33.1281C5.86278 32.3611 4.63893 31.1372 3.87195 29.6319C3 27.9206 3 25.6804 3 21.2V18Z" fill="white" fill-opacity="0.2" />
</g>
</g>
<rect x="3.1" y="2.1" width="31.8" height="31.8" rx="7.9" stroke="#D0D5DD" stroke-width="0.2" />
</g>
<defs>
<filter id="filter0_dd_0_334" x="0" y="0" width="38" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix" />
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
<feOffset dy="1" />
<feGaussianBlur stdDeviation="1" />
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0" />
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_334" />
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
<feOffset dy="1" />
<feGaussianBlur stdDeviation="1.5" />
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0" />
<feBlend mode="normal" in2="effect1_dropShadow_0_334" result="effect2_dropShadow_0_334" />
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_0_334" result="shape" />
</filter>
<filter id="filter1_dd_0_334" x="8" y="8" width="22" height="22" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix" />
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
<feOffset dy="1" />
<feGaussianBlur stdDeviation="1" />
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0" />
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_334" />
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
<feOffset dy="1" />
<feGaussianBlur stdDeviation="1.5" />
<feColorMatrix type="matrix" values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0" />
<feBlend mode="normal" in2="effect1_dropShadow_0_334" result="effect2_dropShadow_0_334" />
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_0_334" result="shape" />
</filter>
<filter id="filter2_b_0_334" x="-2" y="13" width="42" height="26" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix" />
<feGaussianBlur in="BackgroundImageFix" stdDeviation="2.5" />
<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_0_334" />
<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_0_334" result="shape" />
</filter>
<linearGradient id="paint0_linear_0_334" x1="19" y1="2" x2="19" y2="34" gradientUnits="userSpaceOnUse">
<stop stop-color="white" />
<stop offset="1" stop-color="#D0D5DD" />
</linearGradient>
<linearGradient id="paint1_linear_0_334" x1="15" y1="26" x2="23" y2="10" gradientUnits="userSpaceOnUse">
<stop stop-color="#53389E" />
<stop offset="1" stop-color="#6941C6" />
</linearGradient>
<clipPath id="clip0_0_334">
<rect x="3" y="2" width="32" height="32" rx="8" fill="white" />
</clipPath>
</defs>
</svg>

</div>
<div id="_I11_55120-1288_30715-1532_267709" class="_I11_55120-1288_30715-1532_267709" fid="I11:55120;1288:30715;1532:267709" figma-name="Logotype" layout="None/None/None/None">
<svg width="101" height="32" viewBox="0 0 101 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.16903 8.45459H11.804V17.9574C11.804 18.9991 11.5578 19.9153 11.0653 20.706C10.5777 21.4967 9.8911 22.1146 9.00568 22.5597C8.12027 23 7.0857 23.2202 5.90199 23.2202C4.71354 23.2202 3.67661 23 2.79119 22.5597C1.90578 22.1146 1.21922 21.4967 0.731534 20.706C0.243845 19.9153 0 18.9991 0 17.9574V8.45459H2.63494V17.7373C2.63494 18.3433 2.76752 18.8831 3.03267 19.3566C3.30256 19.8301 3.68134 20.2017 4.16903 20.4716C4.65672 20.7368 5.23438 20.8694 5.90199 20.8694C6.5696 20.8694 7.14725 20.7368 7.63494 20.4716C8.12737 20.2017 8.50616 19.8301 8.77131 19.3566C9.03646 18.8831 9.16903 18.3433 9.16903 17.7373V8.45459Z" fill="#101828" />
<path d="M17.1254 16.608V23H14.5543V12.091H17.0117V13.9446H17.1396C17.3905 13.3339 17.7906 12.8485 18.3398 12.4887C18.8938 12.1288 19.578 11.9489 20.3924 11.9489C21.1452 11.9489 21.801 12.1099 22.3597 12.4319C22.9232 12.7538 23.3588 13.2202 23.6665 13.831C23.979 14.4418 24.1329 15.1828 24.1282 16.054V23H21.5572V16.4517C21.5572 15.7226 21.3678 15.152 20.989 14.7401C20.6149 14.3282 20.0965 14.1222 19.4336 14.1222C18.9838 14.1222 18.5837 14.2216 18.2333 14.4205C17.8877 14.6146 17.6154 14.8964 17.4165 15.2657C17.2224 15.635 17.1254 16.0824 17.1254 16.608Z" fill="#101828" />
<path d="M32.1893 12.091V14.0796H25.918V12.091H32.1893ZM27.4663 9.47732H30.0373V19.7188C30.0373 20.0644 30.0894 20.3296 30.1935 20.5142C30.3024 20.6942 30.4445 20.8173 30.6197 20.8836C30.7949 20.9499 30.989 20.983 31.2021 20.983C31.363 20.983 31.5098 20.9712 31.6424 20.9475C31.7797 20.9238 31.8839 20.9025 31.9549 20.8836L32.3881 22.8935C32.2508 22.9409 32.0543 22.9929 31.7987 23.0498C31.5477 23.1066 31.2399 23.1397 30.8754 23.1492C30.2314 23.1681 29.6514 23.0711 29.1353 22.858C28.6192 22.6402 28.2096 22.304 27.9066 21.8495C27.6083 21.3949 27.4615 20.8267 27.4663 20.1449V9.47732Z" fill="#101828" />
<path d="M34.3395 23V12.091H36.9105V23H34.3395ZM35.6321 10.5427C35.2249 10.5427 34.8745 10.4077 34.581 10.1378C34.2874 9.86321 34.1406 9.53413 34.1406 9.15061C34.1406 8.76235 34.2874 8.43328 34.581 8.1634C34.8745 7.88878 35.2249 7.75146 35.6321 7.75146C36.044 7.75146 36.3944 7.88878 36.6832 8.1634C36.9768 8.43328 37.1236 8.76235 37.1236 9.15061C37.1236 9.53413 36.9768 9.86321 36.6832 10.1378C36.3944 10.4077 36.044 10.5427 35.6321 10.5427Z" fill="#101828" />
<path d="M45.0018 12.091V14.0796H38.7305V12.091H45.0018ZM40.2788 9.47732H42.8498V19.7188C42.8498 20.0644 42.9019 20.3296 43.006 20.5142C43.1149 20.6942 43.257 20.8173 43.4322 20.8836C43.6074 20.9499 43.8015 20.983 44.0146 20.983C44.1755 20.983 44.3223 20.9712 44.4549 20.9475C44.5922 20.9238 44.6964 20.9025 44.7674 20.8836L45.2006 22.8935C45.0633 22.9409 44.8668 22.9929 44.6112 23.0498C44.3602 23.1066 44.0524 23.1397 43.6879 23.1492C43.0439 23.1681 42.4639 23.0711 41.9478 22.858C41.4317 22.6402 41.0221 22.304 40.7191 21.8495C40.4208 21.3949 40.274 20.8267 40.2788 20.1449V9.47732Z" fill="#101828" />
<path d="M49.9574 8.45459V23H47.3864V8.45459H49.9574Z" fill="#101828" />
<path d="M57.4308 23.2131C56.337 23.2131 55.3924 22.9858 54.5969 22.5313C53.8062 22.072 53.1978 21.4233 52.7717 20.5853C52.3455 19.7425 52.1325 18.7505 52.1325 17.6094C52.1325 16.4873 52.3455 15.5024 52.7717 14.6549C53.2025 13.8026 53.8039 13.1397 54.5756 12.6662C55.3474 12.188 56.2541 11.9489 57.2958 11.9489C57.9682 11.9489 58.6026 12.0578 59.1992 12.2756C59.8005 12.4887 60.3308 12.8201 60.7901 13.2699C61.2541 13.7197 61.6187 14.2927 61.8839 14.9887C62.149 15.68 62.2816 16.5038 62.2816 17.4603V18.2486H53.3398V16.5157H59.8171C59.8124 16.0232 59.7058 15.5853 59.4975 15.2017C59.2892 14.8135 58.998 14.5081 58.6239 14.2856C58.2546 14.063 57.8237 13.9517 57.3313 13.9517C56.8058 13.9517 56.3441 14.0796 55.9464 14.3353C55.5487 14.5862 55.2385 14.9177 55.016 15.3296C54.7982 15.7368 54.6869 16.1842 54.6822 16.6719V18.1847C54.6822 18.8192 54.7982 19.3637 55.0302 19.8182C55.2622 20.268 55.5865 20.6137 56.0032 20.8552C56.4199 21.0919 56.9076 21.2103 57.4663 21.2103C57.8403 21.2103 58.1789 21.1582 58.4819 21.054C58.7849 20.9451 59.0477 20.7865 59.2702 20.5782C59.4928 20.3698 59.6609 20.1118 59.7745 19.804L62.1751 20.0739C62.0236 20.7084 61.7347 21.2624 61.3086 21.7358C60.8872 22.2046 60.3474 22.5692 59.6893 22.8296C59.0311 23.0853 58.2783 23.2131 57.4308 23.2131Z" fill="#101828" />
<path d="M68.505 23.1918C67.648 23.1918 66.8809 22.9716 66.2038 22.5313C65.5267 22.091 64.9917 21.4517 64.5987 20.6137C64.2057 19.7756 64.0092 18.7576 64.0092 17.5597C64.0092 16.3476 64.2081 15.3249 64.6058 14.4915C65.0083 13.6535 65.5504 13.0214 66.2322 12.5952C66.9141 12.1643 67.674 11.9489 68.5121 11.9489C69.1513 11.9489 69.6768 12.0578 70.0888 12.2756C70.5007 12.4887 70.8274 12.7467 71.0689 13.0498C71.3104 13.3481 71.4974 13.6298 71.63 13.8949H71.7365V8.45459H74.3146V23H71.7862V21.2813H71.63C71.4974 21.5464 71.3056 21.8282 71.0547 22.1265C70.8037 22.42 70.4723 22.671 70.0604 22.8793C69.6484 23.0876 69.13 23.1918 68.505 23.1918ZM69.2223 21.0824C69.7668 21.0824 70.2308 20.9357 70.6143 20.6421C70.9979 20.3438 71.2891 19.9295 71.4879 19.3992C71.6868 18.8689 71.7862 18.251 71.7862 17.5455C71.7862 16.84 71.6868 16.2268 71.4879 15.706C71.2938 15.1852 71.005 14.7803 70.6214 14.4915C70.2427 14.2027 69.7763 14.0583 69.2223 14.0583C68.6494 14.0583 68.1712 14.2074 67.7876 14.5057C67.4041 14.804 67.1153 15.216 66.9212 15.7415C66.727 16.2671 66.63 16.8684 66.63 17.5455C66.63 18.2273 66.727 18.8357 66.9212 19.3708C67.12 19.9011 67.4112 20.3201 67.7947 20.6279C68.183 20.9309 68.6589 21.0824 69.2223 21.0824Z" fill="#101828" />
<path d="M91.2979 8.45459H93.9329V17.9574C93.9329 18.9991 93.6867 19.9153 93.1942 20.706C92.7066 21.4967 92.02 22.1146 91.1346 22.5597C90.2492 23 89.2146 23.2202 88.0309 23.2202C86.8424 23.2202 85.8055 23 84.9201 22.5597C84.0347 22.1146 83.3481 21.4967 82.8604 20.706C82.3727 19.9153 82.1289 18.9991 82.1289 17.9574V8.45459H84.7638V17.7373C84.7638 18.3433 84.8964 18.8831 85.1616 19.3566C85.4315 19.8301 85.8102 20.2017 86.2979 20.4716C86.7856 20.7368 87.3633 20.8694 88.0309 20.8694C88.6985 20.8694 89.2762 20.7368 89.7638 20.4716C90.2563 20.2017 90.6351 19.8301 90.9002 19.3566C91.1654 18.8831 91.2979 18.3433 91.2979 17.7373V8.45459Z" fill="#101828" />
<path d="M99.4318 8.45459V23H96.7969V8.45459H99.4318Z" fill="#101828" />
</svg>

</div>
</div>
</div>
<div id="_I11_55120-1288_30716" class="_I11_55120-1288_30716" fid="I11:55120;1288:30716" figma-name="Navigation" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<div id="Button" class="_I11_55120-1288_30717 d-flex _I11_55120-1288_30717" fid="I11:55120;1288:30717" figma-name="Button" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<span id="_I11_55120-1288_30717-3287_433397" class="_I11_55120-1288_30717-3287_433397" fid="I11:55120;1288:30717;3287:433397" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Home</span>
</div>
<div id="_Dropdown_header_navigation_trigger" class="_I11_55120-1288_30718 d-flex _I11_55120-1288_30718" fid="I11:55120;1288:30718" figma-name="_Dropdown_header_navigation_trigger" layout="HORIZONTAL/VERTICAL/HUG/HUG">
<div id="Button" class="_I11_55120-1288_30718-1288_478 d-flex _I11_55120-1288_30718-1288_478" fid="I11:55120;1288:30718;1288:478" figma-name="Button" layout="VERTICAL/HORIZONTAL/HUG/HUG">
<span id="_I11_55120-1288_30718-1288_478-3287_433397" class="_I11_55120-1288_30718-1288_478-3287_433397" fid="I11:55120;1288:30718;1288:478;3287:433397" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Products</span>
<div id="_I11_55120-1288_30718-1288_478-3468_468154" class="_I11_55120-1288_30718-1288_478-3468_468154" fid="I11:55120;1288:30718;1288:478;3468:468154" figma-name="chevron-down" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 7.5L10 12.5L15 7.5" stroke="#475467" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
</svg>

</div>
</div>
</div>
<div id="_Dropdown_header_navigation_trigger" class="_I11_55120-1288_30719 d-flex _I11_55120-1288_30719" fid="I11:55120;1288:30719" figma-name="_Dropdown_header_navigation_trigger" layout="HORIZONTAL/VERTICAL/HUG/HUG">
<div id="Button" class="_I11_55120-1288_30719-1288_478 d-flex _I11_55120-1288_30719-1288_478" fid="I11:55120;1288:30719;1288:478" figma-name="Button" layout="VERTICAL/HORIZONTAL/HUG/HUG">
<span id="_I11_55120-1288_30719-1288_478-3287_433397" class="_I11_55120-1288_30719-1288_478-3287_433397" fid="I11:55120;1288:30719;1288:478;3287:433397" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Resources</span>
<div id="_I11_55120-1288_30719-1288_478-3468_468154" class="_I11_55120-1288_30719-1288_478-3468_468154" fid="I11:55120;1288:30719;1288:478;3468:468154" figma-name="chevron-down" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 7.5L10 12.5L15 7.5" stroke="#475467" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
</svg>

</div>
</div>
</div>
<div id="Button" class="_I11_55120-1288_30720 d-flex _I11_55120-1288_30720" fid="I11:55120;1288:30720" figma-name="Button" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<span id="_I11_55120-1288_30720-3287_433397" class="_I11_55120-1288_30720-3287_433397" fid="I11:55120;1288:30720;3287:433397" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Pricing</span>
</div>
</div>
</div>
<div id="_I11_55120-1624_307186" class="_I11_55120-1624_307186" fid="I11:55120;1624:307186" figma-name="_Navigation_actions_[edit]" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<div id="Button" class="_I11_55120-1624_307186-1624_262067 d-flex d-flex _I11_55120-1624_307186-1624_262067" fid="I11:55120;1624:307186;1624:262067" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<span id="_I11_55120-1624_307186-1624_262067-3287_433257" class="_I11_55120-1624_307186-1624_262067-3287_433257" fid="I11:55120;1624:307186;1624:262067;3287:433257" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Log in</span>
</div>
<div id="Button" class="_I11_55120-1624_307186-1624_262069 d-flex d-flex _I11_55120-1624_307186-1624_262069" fid="I11:55120;1624:307186;1624:262069" layout="HORIZONTAL/HORIZONTAL/HUG/HUG">
<span id="_I11_55120-1624_307186-1624_262069-3287_432949" class="_I11_55120-1624_307186-1624_262069-3287_432949" fid="I11:55120;1624:307186;1624:262069;3287:432949" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Sign up</span>
</div>
</div>
</div>
</div>
</div>
<div id="Pricing_page_header" class="_11_55121 d-flex" fid="11:55121" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="Header_section" class="_I11_55121-1393_776 d-flex" fid="I11:55121;1393:776" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="Container" class="_I11_55121-1393_776-1322_2053 d-flex" fid="I11:55121;1393:776;1322:2053" layout="VERTICAL/VERTICAL/FIXED/HUG">
<div id="Content" class="_I11_55121-1393_776-1322_2054 d-flex" fid="I11:55121;1393:776;1322:2054" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="Heading_and_supporting_text" class="_I11_55121-1393_776-1322_2055 d-flex" fid="I11:55121;1393:776;1322:2055" layout="VERTICAL/VERTICAL/FIXED/HUG">
<div id="Heading_and_subheading" class="_I11_55121-1393_776-1322_2056 d-flex" fid="I11:55121;1393:776;1322:2056" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_776-1322_2057" class="_I11_55121-1393_776-1322_2057" fid="I11:55121;1393:776;1322:2057" figma-name="Subheading" layout="VERTICAL/None/FILL/88] [EDIT">Pricing</span>
<header id="Heading" class="_I11_55121-1393_776-1322_2058 d-flex" fid="I11:55121;1393:776;1322:2058" layout="VERTICAL/None/FILL/HUG">Simple, transparent pricing</header>
</div>
<textarea id="Supporting_text" class="_I11_55121-1393_776-1322_2059" fid="I11:55121;1393:776;1322:2059" is="dmx-medium-editor" layout="VERTICAL/None/FILL/HUG" placeholder="We believe Untitled should be accessible to all companies, no matter the size."></textarea>
</div>
</div>
</div>
</div>
<div id="Section" class="_I11_55121-1393_777" fid="I11:55121;1393:777" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="Container" class="_I11_55121-1393_778" fid="I11:55121;1393:778" layout="VERTICAL/VERTICAL/FIXED/HUG">
<div id="Content" class="_I11_55121-1393_779 d-flex" fid="I11:55121;1393:779" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1212" class="_I11_55121-1393_1212" fid="I11:55121;1393:1212" figma-name="_Pricing_tier_card_[richtext]_[repeatchildren_value]_[edit]" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182114" class="_I11_55121-1393_1212-1346_182114" fid="I11:55121;1393:1212;1346:182114" figma-name="Header" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182115" class="_I11_55121-1393_1212-1346_182115" fid="I11:55121;1393:1212;1346:182115" figma-name="Price" layout="VERTICAL/None/HUG/HUG">$10/mth</span>
<div id="_I11_55121-1393_1212-1346_182116" class="_I11_55121-1393_1212-1346_182116" fid="I11:55121;1393:1212;1346:182116" figma-name="Heading_and_supporting_text" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182117" class="_I11_55121-1393_1212-1346_182117" fid="I11:55121;1393:1212;1346:182117" figma-name="Heading" layout="VERTICAL/None/FILL/HUG">Basic plan</span>
<span id="_I11_55121-1393_1212-1346_182118" class="_I11_55121-1393_1212-1346_182118" fid="I11:55121;1393:1212;1346:182118" figma-name="Supporting_text" layout="VERTICAL/None/FILL/HUG">Billed annually.</span>
</div>
<div id="_I11_55121-1393_1212-3261_371494" class="_I11_55121-1393_1212-3261_371494" fid="I11:55121;1393:1212;3261:371494" figma-name="Call_out" layout="VERTICAL/None/FIXED/FIXED">
<span id="_I11_55121-1393_1212-1346_182162" class="_I11_55121-1393_1212-1346_182162" fid="I11:55121;1393:1212;1346:182162" figma-name="Text" layout="None/None/None/None">Most popular!</span>
<div id="_I11_55121-1393_1212-3261_371583" class="_I11_55121-1393_1212-3261_371583" fid="I11:55121;1393:1212;3261:371583" figma-name="Hand-drawn_arrow" layout="None/None/None/None">
<svg width="59" height="46" viewBox="0 0 59 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.5421 42.4706C8.3834 43.2909 8.91976 44.0846 9.7401 44.2433C10.5604 44.402 11.3541 43.8656 11.5128 43.0453L8.5421 42.4706ZM50.261 3.48113C51.089 3.36921 51.6695 2.60723 51.5576 1.77922C51.4456 0.951204 50.6837 0.370703 49.8557 0.482632L50.261 3.48113ZM4.0707 32.2659C3.64017 31.5498 2.71065 31.3184 1.99457 31.7489C1.27849 32.1794 1.04701 33.109 1.47755 33.825L4.0707 32.2659ZM8.29615 42.2298L6.99957 43.0094L7.0003 43.0106L8.29615 42.2298ZM11.9437 43.2896L11.3255 41.9088L11.3243 41.9094L11.9437 43.2896ZM22.9566 40.0167C23.7192 39.6753 24.0607 38.7803 23.7192 38.0177C23.3778 37.2551 22.4828 36.9136 21.7202 37.2551L22.9566 40.0167ZM10.0274 42.7579C11.5128 43.0453 11.5127 43.0456 11.5127 43.0459C11.5127 43.0459 11.5126 43.0461 11.5126 43.0461C11.5126 43.0461 11.5127 43.0458 11.5128 43.0453C11.513 43.0442 11.5134 43.0421 11.5141 43.0389C11.5153 43.0326 11.5174 43.022 11.5204 43.0074C11.5263 42.9781 11.5357 42.9324 11.5487 42.871C11.5748 42.7484 11.6153 42.5632 11.6715 42.3216C11.7841 41.8383 11.9595 41.1299 12.2079 40.2451C12.7051 38.4743 13.4928 36.004 14.6509 33.2214C16.9767 27.6332 20.7491 20.8998 26.5588 15.9968L24.6073 13.6844C18.2808 19.0236 14.2754 26.249 11.8574 32.0588C10.6436 34.9753 9.81797 37.5639 9.29479 39.4272C9.03303 40.3595 8.84648 41.112 8.72461 41.6353C8.66367 41.8971 8.61887 42.1016 8.58889 42.2428C8.5739 42.3135 8.56262 42.3683 8.55488 42.4065C8.55101 42.4256 8.54802 42.4405 8.5459 42.4512C8.54484 42.4566 8.54399 42.4609 8.54336 42.4641C8.54304 42.4657 8.54278 42.4671 8.54257 42.4682C8.54247 42.4687 8.54235 42.4693 8.5423 42.4696C8.54219 42.4701 8.5421 42.4706 10.0274 42.7579ZM26.5588 15.9968C38.4729 5.94196 47.942 3.79461 50.261 3.48113L49.8557 0.482632C46.9726 0.872361 36.9657 3.25462 24.6073 13.6844L26.5588 15.9968ZM1.47755 33.825L6.99957 43.0094L9.59273 41.4503L4.0707 32.2659L1.47755 33.825ZM7.0003 43.0106C8.15237 44.9227 10.5592 45.5693 12.5632 44.6699L11.3243 41.9094C10.6171 42.2267 9.89921 41.9589 9.592 41.4491L7.0003 43.0106ZM12.5619 44.6705L22.9566 40.0167L21.7202 37.2551L11.3255 41.9088L12.5619 44.6705Z" fill="#3538CD" />
</svg>

</div>
</div>
</div>
<div id="_I11_55121-1393_1212-1346_182119" class="_I11_55121-1393_1212-1346_182119" fid="I11:55121;1393:1212;1346:182119" figma-name="Content" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182120" class="_I11_55121-1393_1212-1346_182120" fid="I11:55121;1393:1212;1346:182120" figma-name="Check_items" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182121" class="_I11_55121-1393_1212-1346_182121" fid="I11:55121;1393:1212;1346:182121" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182121-1345_2752" class="_I11_55121-1393_1212-1346_182121-1345_2752" fid="I11:55121;1393:1212;1346:182121;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1212-1346_182121-1345_2753" class="_I11_55121-1393_1212-1346_182121-1345_2753" fid="I11:55121;1393:1212;1346:182121;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182121-1345_2754" class="_I11_55121-1393_1212-1346_182121-1345_2754" fid="I11:55121;1393:1212;1346:182121;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Access to all basic features</span>
</div>
</div>
<div id="_I11_55121-1393_1212-1346_182122" class="_I11_55121-1393_1212-1346_182122" fid="I11:55121;1393:1212;1346:182122" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182122-1345_2752" class="_I11_55121-1393_1212-1346_182122-1345_2752" fid="I11:55121;1393:1212;1346:182122;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1212-1346_182122-1345_2753" class="_I11_55121-1393_1212-1346_182122-1345_2753" fid="I11:55121;1393:1212;1346:182122;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182122-1345_2754" class="_I11_55121-1393_1212-1346_182122-1345_2754" fid="I11:55121;1393:1212;1346:182122;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Basic reporting and analytics</span>
</div>
</div>
<div id="_I11_55121-1393_1212-1346_182123" class="_I11_55121-1393_1212-1346_182123" fid="I11:55121;1393:1212;1346:182123" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182123-1345_2752" class="_I11_55121-1393_1212-1346_182123-1345_2752" fid="I11:55121;1393:1212;1346:182123;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1212-1346_182123-1345_2753" class="_I11_55121-1393_1212-1346_182123-1345_2753" fid="I11:55121;1393:1212;1346:182123;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182123-1345_2754" class="_I11_55121-1393_1212-1346_182123-1345_2754" fid="I11:55121;1393:1212;1346:182123;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Up to 10 individual users</span>
</div>
</div>
<div id="_I11_55121-1393_1212-1346_182124" class="_I11_55121-1393_1212-1346_182124" fid="I11:55121;1393:1212;1346:182124" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182124-1345_2752" class="_I11_55121-1393_1212-1346_182124-1345_2752" fid="I11:55121;1393:1212;1346:182124;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1212-1346_182124-1345_2753" class="_I11_55121-1393_1212-1346_182124-1345_2753" fid="I11:55121;1393:1212;1346:182124;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182124-1345_2754" class="_I11_55121-1393_1212-1346_182124-1345_2754" fid="I11:55121;1393:1212;1346:182124;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">20GB individual data each user</span>
</div>
</div>
<div id="_I11_55121-1393_1212-1346_182125" class="_I11_55121-1393_1212-1346_182125" fid="I11:55121;1393:1212;1346:182125" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182125-1345_2752" class="_I11_55121-1393_1212-1346_182125-1345_2752" fid="I11:55121;1393:1212;1346:182125;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1212-1346_182125-1345_2753" class="_I11_55121-1393_1212-1346_182125-1345_2753" fid="I11:55121;1393:1212;1346:182125;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182125-1345_2754" class="_I11_55121-1393_1212-1346_182125-1345_2754" fid="I11:55121;1393:1212;1346:182125;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Basic chat and email support</span>
</div>
</div>
</div>
</div>
<div id="_I11_55121-1393_1212-1346_182131" class="_I11_55121-1393_1212-1346_182131" fid="I11:55121;1393:1212;1346:182131" figma-name="Footer" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1212-1346_182132" class="_I11_55121-1393_1212-1346_182132" fid="I11:55121;1393:1212;1346:182132" figma-name="Actions" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="Button" class="_I11_55121-1393_1212-1346_182133 d-flex _I11_55121-1393_1212-1346_182133" fid="I11:55121;1393:1212;1346:182133" figma-name="Button" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182133-3287_432937" class="_I11_55121-1393_1212-1346_182133-3287_432937" fid="I11:55121;1393:1212;1346:182133;3287:432937" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Get started</span>
</div>
<div id="Button" class="_I11_55121-1393_1212-1346_182134 d-flex _I11_55121-1393_1212-1346_182134" fid="I11:55121;1393:1212;1346:182134" figma-name="Button" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_I11_55121-1393_1212-1346_182134-3287_433053" class="_I11_55121-1393_1212-1346_182134-3287_433053" fid="I11:55121;1393:1212;1346:182134;3287:433053" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Chat to sales</span>
</div>
</div>
</div>
</div>
<div id="_I11_55121-1393_1213" class="_I11_55121-1393_1213" fid="I11:55121;1393:1213" figma-name="_Pricing_tier_card_[repeatchildren_value]_[edit]" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182114" class="_I11_55121-1393_1213-1346_182114" fid="I11:55121;1393:1213;1346:182114" figma-name="Header" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182115" class="_I11_55121-1393_1213-1346_182115" fid="I11:55121;1393:1213;1346:182115" figma-name="Price" layout="VERTICAL/None/HUG/HUG">$20/mth</span>
<div id="_I11_55121-1393_1213-1346_182116" class="_I11_55121-1393_1213-1346_182116" fid="I11:55121;1393:1213;1346:182116" figma-name="Heading_and_supporting_text" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182117" class="_I11_55121-1393_1213-1346_182117" fid="I11:55121;1393:1213;1346:182117" figma-name="Heading" layout="VERTICAL/None/FILL/HUG">Business plan</span>
<span id="_I11_55121-1393_1213-1346_182118" class="_I11_55121-1393_1213-1346_182118" fid="I11:55121;1393:1213;1346:182118" figma-name="Supporting_text" layout="VERTICAL/None/FILL/HUG">Billed annually.</span>
</div>
</div>
<div id="_I11_55121-1393_1213-1346_182119" class="_I11_55121-1393_1213-1346_182119" fid="I11:55121;1393:1213;1346:182119" figma-name="Content" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182120" class="_I11_55121-1393_1213-1346_182120" fid="I11:55121;1393:1213;1346:182120" figma-name="Check_items" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182121" class="_I11_55121-1393_1213-1346_182121" fid="I11:55121;1393:1213;1346:182121" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182121-1345_2752" class="_I11_55121-1393_1213-1346_182121-1345_2752" fid="I11:55121;1393:1213;1346:182121;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1213-1346_182121-1345_2753" class="_I11_55121-1393_1213-1346_182121-1345_2753" fid="I11:55121;1393:1213;1346:182121;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182121-1345_2754" class="_I11_55121-1393_1213-1346_182121-1345_2754" fid="I11:55121;1393:1213;1346:182121;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">200+ integrations</span>
</div>
</div>
<div id="_I11_55121-1393_1213-1346_182122" class="_I11_55121-1393_1213-1346_182122" fid="I11:55121;1393:1213;1346:182122" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182122-1345_2752" class="_I11_55121-1393_1213-1346_182122-1345_2752" fid="I11:55121;1393:1213;1346:182122;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1213-1346_182122-1345_2753" class="_I11_55121-1393_1213-1346_182122-1345_2753" fid="I11:55121;1393:1213;1346:182122;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182122-1345_2754" class="_I11_55121-1393_1213-1346_182122-1345_2754" fid="I11:55121;1393:1213;1346:182122;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Advanced reporting and analytics</span>
</div>
</div>
<div id="_I11_55121-1393_1213-1346_182123" class="_I11_55121-1393_1213-1346_182123" fid="I11:55121;1393:1213;1346:182123" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182123-1345_2752" class="_I11_55121-1393_1213-1346_182123-1345_2752" fid="I11:55121;1393:1213;1346:182123;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1213-1346_182123-1345_2753" class="_I11_55121-1393_1213-1346_182123-1345_2753" fid="I11:55121;1393:1213;1346:182123;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182123-1345_2754" class="_I11_55121-1393_1213-1346_182123-1345_2754" fid="I11:55121;1393:1213;1346:182123;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Up to 20 individual users</span>
</div>
</div>
<div id="_I11_55121-1393_1213-1346_182124" class="_I11_55121-1393_1213-1346_182124" fid="I11:55121;1393:1213;1346:182124" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182124-1345_2752" class="_I11_55121-1393_1213-1346_182124-1345_2752" fid="I11:55121;1393:1213;1346:182124;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1213-1346_182124-1345_2753" class="_I11_55121-1393_1213-1346_182124-1345_2753" fid="I11:55121;1393:1213;1346:182124;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182124-1345_2754" class="_I11_55121-1393_1213-1346_182124-1345_2754" fid="I11:55121;1393:1213;1346:182124;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">40GB individual data each user</span>
</div>
</div>
<div id="_I11_55121-1393_1213-1346_182125" class="_I11_55121-1393_1213-1346_182125" fid="I11:55121;1393:1213;1346:182125" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182125-1345_2752" class="_I11_55121-1393_1213-1346_182125-1345_2752" fid="I11:55121;1393:1213;1346:182125;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1213-1346_182125-1345_2753" class="_I11_55121-1393_1213-1346_182125-1345_2753" fid="I11:55121;1393:1213;1346:182125;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182125-1345_2754" class="_I11_55121-1393_1213-1346_182125-1345_2754" fid="I11:55121;1393:1213;1346:182125;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Priority chat and email support</span>
</div>
</div>
</div>
</div>
<div id="_I11_55121-1393_1213-1346_182131" class="_I11_55121-1393_1213-1346_182131" fid="I11:55121;1393:1213;1346:182131" figma-name="Footer" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1213-1346_182132" class="_I11_55121-1393_1213-1346_182132" fid="I11:55121;1393:1213;1346:182132" figma-name="Actions" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="Button" class="_I11_55121-1393_1213-1346_182133 d-flex _I11_55121-1393_1213-1346_182133" fid="I11:55121;1393:1213;1346:182133" figma-name="Button" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182133-3287_432937" class="_I11_55121-1393_1213-1346_182133-3287_432937" fid="I11:55121;1393:1213;1346:182133;3287:432937" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Get started</span>
</div>
<div id="Button" class="_I11_55121-1393_1213-1346_182134 d-flex _I11_55121-1393_1213-1346_182134" fid="I11:55121;1393:1213;1346:182134" figma-name="Button" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_I11_55121-1393_1213-1346_182134-3287_433053" class="_I11_55121-1393_1213-1346_182134-3287_433053" fid="I11:55121;1393:1213;1346:182134;3287:433053" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Chat to sales</span>
</div>
</div>
</div>
</div>
<div id="_I11_55121-1393_1214" class="_I11_55121-1393_1214" fid="I11:55121;1393:1214" figma-name="_Pricing_tier_card_[repeatchildren_value]_" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182114" class="_I11_55121-1393_1214-1346_182114" fid="I11:55121;1393:1214;1346:182114" figma-name="Header" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182115" class="_I11_55121-1393_1214-1346_182115" fid="I11:55121;1393:1214;1346:182115" figma-name="Price" layout="VERTICAL/None/HUG/HUG">$40/mth</span>
<div id="_I11_55121-1393_1214-1346_182116" class="_I11_55121-1393_1214-1346_182116" fid="I11:55121;1393:1214;1346:182116" figma-name="Heading_and_supporting_text" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182117" class="_I11_55121-1393_1214-1346_182117" fid="I11:55121;1393:1214;1346:182117" figma-name="Heading" layout="VERTICAL/None/FILL/HUG">Enterprise plan</span>
<span id="_I11_55121-1393_1214-1346_182118" class="_I11_55121-1393_1214-1346_182118" fid="I11:55121;1393:1214;1346:182118" figma-name="Supporting_text" layout="VERTICAL/None/FILL/HUG">Billed annually.</span>
</div>
</div>
<div id="_I11_55121-1393_1214-1346_182119" class="_I11_55121-1393_1214-1346_182119" fid="I11:55121;1393:1214;1346:182119" figma-name="Content" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182120" class="_I11_55121-1393_1214-1346_182120" fid="I11:55121;1393:1214;1346:182120" figma-name="Check_items" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182121" class="_I11_55121-1393_1214-1346_182121" fid="I11:55121;1393:1214;1346:182121" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182121-1345_2752" class="_I11_55121-1393_1214-1346_182121-1345_2752" fid="I11:55121;1393:1214;1346:182121;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0965 7.39004L9.9365 14.3L8.0365 12.27C7.6865 11.94 7.1365 11.92 6.7365 12.2C6.3465 12.49 6.2365 13 6.4765 13.41L8.7265 17.07C8.9465 17.41 9.3265 17.62 9.7565 17.62C10.1665 17.62 10.5565 17.41 10.7765 17.07C11.1365 16.6 18.0065 8.41004 18.0065 8.41004C18.9065 7.49004 17.8165 6.68004 17.0965 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1214-1346_182121-1345_2753" class="_I11_55121-1393_1214-1346_182121-1345_2753" fid="I11:55121;1393:1214;1346:182121;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182121-1345_2754" class="_I11_55121-1393_1214-1346_182121-1345_2754" fid="I11:55121;1393:1214;1346:182121;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Advanced custom fields</span>
</div>
</div>
<div id="_I11_55121-1393_1214-1346_182122" class="_I11_55121-1393_1214-1346_182122" fid="I11:55121;1393:1214;1346:182122" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182122-1345_2752" class="_I11_55121-1393_1214-1346_182122-1345_2752" fid="I11:55121;1393:1214;1346:182122;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0965 7.39004L9.9365 14.3L8.0365 12.27C7.6865 11.94 7.1365 11.92 6.7365 12.2C6.3465 12.49 6.2365 13 6.4765 13.41L8.7265 17.07C8.9465 17.41 9.3265 17.62 9.7565 17.62C10.1665 17.62 10.5565 17.41 10.7765 17.07C11.1365 16.6 18.0065 8.41004 18.0065 8.41004C18.9065 7.49004 17.8165 6.68004 17.0965 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1214-1346_182122-1345_2753" class="_I11_55121-1393_1214-1346_182122-1345_2753" fid="I11:55121;1393:1214;1346:182122;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182122-1345_2754" class="_I11_55121-1393_1214-1346_182122-1345_2754" fid="I11:55121;1393:1214;1346:182122;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Audit log and data history</span>
</div>
</div>
<div id="_I11_55121-1393_1214-1346_182123" class="_I11_55121-1393_1214-1346_182123" fid="I11:55121;1393:1214;1346:182123" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182123-1345_2752" class="_I11_55121-1393_1214-1346_182123-1345_2752" fid="I11:55121;1393:1214;1346:182123;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0965 7.39004L9.9365 14.3L8.0365 12.27C7.6865 11.94 7.1365 11.92 6.7365 12.2C6.3465 12.49 6.2365 13 6.4765 13.41L8.7265 17.07C8.9465 17.41 9.3265 17.62 9.7565 17.62C10.1665 17.62 10.5565 17.41 10.7765 17.07C11.1365 16.6 18.0065 8.41004 18.0065 8.41004C18.9065 7.49004 17.8165 6.68004 17.0965 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1214-1346_182123-1345_2753" class="_I11_55121-1393_1214-1346_182123-1345_2753" fid="I11:55121;1393:1214;1346:182123;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182123-1345_2754" class="_I11_55121-1393_1214-1346_182123-1345_2754" fid="I11:55121;1393:1214;1346:182123;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Unlimited individual users</span>
</div>
</div>
<div id="_I11_55121-1393_1214-1346_182124" class="_I11_55121-1393_1214-1346_182124" fid="I11:55121;1393:1214;1346:182124" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182124-1345_2752" class="_I11_55121-1393_1214-1346_182124-1345_2752" fid="I11:55121;1393:1214;1346:182124;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0965 7.39004L9.9365 14.3L8.0365 12.27C7.6865 11.94 7.1365 11.92 6.7365 12.2C6.3465 12.49 6.2365 13 6.4765 13.41L8.7265 17.07C8.9465 17.41 9.3265 17.62 9.7565 17.62C10.1665 17.62 10.5565 17.41 10.7765 17.07C11.1365 16.6 18.0065 8.41004 18.0065 8.41004C18.9065 7.49004 17.8165 6.68004 17.0965 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1214-1346_182124-1345_2753" class="_I11_55121-1393_1214-1346_182124-1345_2753" fid="I11:55121;1393:1214;1346:182124;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182124-1345_2754" class="_I11_55121-1393_1214-1346_182124-1345_2754" fid="I11:55121;1393:1214;1346:182124;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Unlimited individual data</span>
</div>
</div>
<div id="_I11_55121-1393_1214-1346_182125" class="_I11_55121-1393_1214-1346_182125" fid="I11:55121;1393:1214;1346:182125" figma-name="Check_item_text" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182125-1345_2752" class="_I11_55121-1393_1214-1346_182125-1345_2752" fid="I11:55121;1393:1214;1346:182125;1345:2752" figma-name="Check_icon" layout="HORIZONTAL/None/FIXED/FIXED">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="24" height="24" rx="12" fill="#D1FADF" />
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.0965 7.39004L9.9365 14.3L8.0365 12.27C7.6865 11.94 7.1365 11.92 6.7365 12.2C6.3465 12.49 6.2365 13 6.4765 13.41L8.7265 17.07C8.9465 17.41 9.3265 17.62 9.7565 17.62C10.1665 17.62 10.5565 17.41 10.7765 17.07C11.1365 16.6 18.0065 8.41004 18.0065 8.41004C18.9065 7.49004 17.8165 6.68004 17.0965 7.38004V7.39004Z" fill="#12B76A" />
</svg>

</div>
<div id="_I11_55121-1393_1214-1346_182125-1345_2753" class="_I11_55121-1393_1214-1346_182125-1345_2753" fid="I11:55121;1393:1214;1346:182125;1345:2753" figma-name="Text_wrap" layout="HORIZONTAL/VERTICAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182125-1345_2754" class="_I11_55121-1393_1214-1346_182125-1345_2754" fid="I11:55121;1393:1214;1346:182125;1345:2754" figma-name="Text" layout="VERTICAL/None/FILL/HUG">Personalised+priotity service</span>
</div>
</div>
</div>
</div>
<div id="_I11_55121-1393_1214-1346_182131" class="_I11_55121-1393_1214-1346_182131" fid="I11:55121;1393:1214;1346:182131" figma-name="Footer" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I11_55121-1393_1214-1346_182132" class="_I11_55121-1393_1214-1346_182132" fid="I11:55121;1393:1214;1346:182132" figma-name="Actions" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="Button" class="_I11_55121-1393_1214-1346_182133 d-flex _I11_55121-1393_1214-1346_182133" fid="I11:55121;1393:1214;1346:182133" figma-name="Button" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182133-3287_432937" class="_I11_55121-1393_1214-1346_182133-3287_432937" fid="I11:55121;1393:1214;1346:182133;3287:432937" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Get started</span>
</div>
<div id="Button" class="_I11_55121-1393_1214-1346_182134 d-flex _I11_55121-1393_1214-1346_182134" fid="I11:55121;1393:1214;1346:182134" figma-name="Button" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_I11_55121-1393_1214-1346_182134-3287_433053" class="_I11_55121-1393_1214-1346_182134-3287_433053" fid="I11:55121;1393:1214;1346:182134;3287:433053" figma-name="Text" layout="HORIZONTAL/None/HUG/HUG">Chat to sales</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>